@using CookTogether.Pages.Components
@if (!string.IsNullOrWhiteSpace(Messege))
{
<div class="alert @alertClass">@Messege</div>
}

@code {
    [Parameter]
    public string Messege { get; set; }
    private AlertMessegeType messegeType;

    [Parameter]
    public AlertMessegeType MessegeType
    {
        get => messegeType;
        set
        {
            messegeType = value;
            switch (messegeType)
            {
                case AlertMessegeType.Error:
                    alertClass = "alert-danger";
                    break;
                case AlertMessegeType.Success:
                    alertClass = "alert-success";
                    break;
                case AlertMessegeType.Warning:
                    alertClass = "alert-warning";
                    break;
                default:
                    break;
            }
        }
    }
    string alertClass = "alert-info";

    void HideMessege()
    {
        Messege = string.Empty;
    }
}
