@page "/party-room/{RoomId:int}"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using CookTogether.Models
@using DataAccessLibrary.MealRepositories
@using CookTogether.Data

@inject IUserRepository UserRepository
@inject IPartyRepository PartyRepository
@inject PartyService PartyService
@inject NavigationManager NavManager

@attribute [Authorize]
@if (party == null || partyMembers == null || invitedUsers == null || friendsYouCouldInvite == null)
{
    <div class="d-flex align-items-center">
        <strong></strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
}
else
{
    <h3>Welcome to the @party.PartyName Party!</h3>
    <hr />
    <br />
    <h3>Party Members : </h3>
    <table class="table table-striped">
        <tbody>
            @foreach (var user in partyMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    @if (party.OwnerUserId == loggedUserID && user.Id != party.OwnerUserId)
                    {
                        <td> <button type="button" class="btn btn-danger" @onclick="() =>RemoveUserFromParty(user)">Remove User from party</button></td>
                    }
                    @if (user.Id == party.OwnerUserId)
                    {
                        <td>
                            <span class="badge badge-info">OWNER</span>
                        </td>
                    }
                    else
                    {
                        <td> </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <hr />

    <div class="row g-2">
        <div>
            <button type="button" class="btn btn-success d-flex justify-content-center m-5" @onclick="()=>InitializeMealPicker()">Meal Picker</button>
        </div>
        <div>
            <button type="button" class="btn btn-info d-flex justify-content-center m-5" @onclick="()=>ShowCurrentResultBoard()">Result Board</button>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-6">
            <h3>Friends you you could invite : </h3>
            <table class="table table-striped">
                <tbody>
                    @foreach (var user in friendsYouCouldInvite)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td> <button type="button" class="btn btn-primary" @onclick="() =>InviteUserToParty(user)">Invite User</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Currently Invited Users : </h3>
            <table class="table table-striped">
                <tbody>
                    @foreach (var user in invitedUsers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td> <button type="button" class="btn btn-dark" @onclick="() =>CancelUserInvitationToParty(user)">Cancel Invitation</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? RoomId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    private AuthenticationState authenticationState;
    private string loggedUserID;

    List<UserModel> partyMembers;
    List<UserModel> invitedUsers;
    List<UserModel> friendsYouCouldInvite;

    PartyModel party;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await authStateTask;
        loggedUserID = authenticationState.User.Claims.FirstOrDefault().Value;
        UserModel loggedUser = await UserRepository.GetUserById(loggedUserID);

        party = await PartyRepository.GetPartyById(RoomId.ToString());
        partyMembers = await PartyRepository.GetAllPartyMembers(party, loggedUser);
        invitedUsers = await PartyRepository.GetUsersInvitedToParty(party, loggedUser);
        friendsYouCouldInvite = await PartyRepository.GetFriendedAndNotMemeberListOfUsers(loggedUserID, RoomId.Value);

        await InvokeAsync(() => StateHasChanged());
    }

    private void AddUserToParty(UserModel user)
    {
        PartyService.AddUserToParty(user, party);
        partyMembers.Add(user);
        friendsYouCouldInvite.Remove(user);
    }

    private void RemoveUserFromParty(UserModel user)
    {
        PartyService.RemoveUserFromParty(user, party);
        partyMembers.Remove(user);
        friendsYouCouldInvite.Remove(user);
    }

    private void InviteUserToParty(UserModel user)
    {
        PartyService.InviteUserToParty(user, party);
        invitedUsers.Add(user);
        friendsYouCouldInvite.Remove(user);
    }

    private void CancelUserInvitationToParty(UserModel user)
    {
        PartyService.CancelUserInvitationToParty(user, party);
        invitedUsers.Remove(user);
        friendsYouCouldInvite.Add(user);
    }

    private void InitializeMealPicker()
    {
        NavManager.NavigateTo("/party-room/" + RoomId.ToString() + "/MealPicker/");
    }

    private void ShowCurrentResultBoard()
    {
        NavManager.NavigateTo("/party-room/" + RoomId.ToString() + "/result-board");
    }
}
